CHUNK_SIZE=500
CHUNK_OVERLAP=100
DOCS_FOLDER=pdfs/
REDIS_URL=redis://:redis@redis-11932.zumodc1.primary.cs.redislabs.com:11932
LLMCACHE_THRESHOLD=0.9
TOKENIZERS_PARALLELISM=false

OPENAI_API_KEY= "123456"
OPENAI_ORG= "123456"
OPENAI_EMBEDDING_DEPLOYMENT= "text-embedding-ada-002"
OPENAI_LLM_DEPLOYMENT= "gpt-3.5-turbo"

OPENAI_LOG=deb
